<p id="notice"><%= notice %></p>

<h1>Borrowers</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Company number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrowers.each do |borrower| %>
      <tr>
        <td><%= borrower.company_name %></td>
        <td><%= borrower.company_number %></td>
        <td><%= link_to 'Show', borrower %></td>
        <td><%= link_to 'Edit', edit_borrower_path(borrower) %></td>
        <td><%= link_to 'Destroy', borrower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrower', new_borrower_path %>
