<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @borrower.company_name %>
</p>

<p>
  <strong>Company number:</strong>
  <%= @borrower.company_number %>
</p>

<p>
  <strong>Addresses:</strong>
  <% @borrower.addresses.each do |address| %>
    <p><%= address.kind %> Address</p>
    <p><%= full_address(address) %></p>
  <% end %>
</p>

<%= link_to 'Edit', edit_borrower_path(@borrower) %> |
<%= link_to 'Back', borrowers_path %>
<%= link_to 'Borrower list', borrower_borrowings_path(@borrower) %>
