<%= form_with(model: installment, local: true) do |form| %>
  <% if installment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(installment.errors.count, "error") %> prohibited this installment from being saved:</h2>

      <ul>
      <% installment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :installment_value %>
    <%= form.text_field :installment_value %>
  </div>

  <div class="field">
    <%= form.label :due_at %>
    <%= form.datetime_select :due_at %>
  </div>

  <div class="field">
    <%= form.label :loan_application_id %>
    <%= form.text_field :loan_application_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
