<p id="notice"><%= notice %></p>

<h1>Installments</h1>

<table>
  <thead>
    <tr>
      <th>Installment value</th>
      <th>Due at</th>
      <th>Loan application</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @installments.each do |installment| %>
      <tr>
        <td><%= installment.installment_value %></td>
        <td><%= installment.due_at %></td>
        <td><%= installment.loan_application %></td>
        <td><%= link_to 'Show', installment %></td>
        <td><%= link_to 'Edit', edit_installment_path(installment) %></td>
        <td><%= link_to 'Destroy', installment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Installment', new_installment_path %>
