<h2>Solicitação de crédito: <%= @credit_request.id %></h2>

<table>
  <tr>
    <td>Empresa solicitante:</td>
    <td><%= link_to @credit_request.company.name, company_path(@credit_request.company)%></td>
  </tr>
  <tr>
    <td>Valor:</td>
    <td><%= @credit_request.amount %></td>
  </tr>
  <tr>
    <td>Períodos:</td>
    <td><%= @credit_request.periods %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%= @credit_request.status %></td>
  </tr>
  <tr>
    <td>Taxa mensal:</td>
    <td><%= @credit_request.monthly_fee %></td>
  </tr>

  <tr>
    <td>Valor das parcelas:</td>
    <td><%= @credit_request.monthly_value %></td>
  </tr>
  <tr>
    <td>
      <%= link_to 'Aprovar', approve_credit_request_path(@credit_request), method: :put %>
    </td>
  </tr>
</table>

<div>
  <h3>Pagamentos</h3>
  <table>
    <% @credit_request.payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.due_date %></td>
      </tr>
    <% end %>
  </table>
</div>
