<div class="show-content">
  <h2>Solicitação de crédito: <%= @credit_request.id %></h2>

  <div class="table-content">
    <table class="table table-striped">
      <tr>
        <td>Empresa solicitante:</td>
        <td><%= link_to @credit_request.company.name, company_path(@credit_request.company) %></td>
      </tr>
      <tr>
        <td>Valor:</td>
        <td><%= @credit_request.amount %></td>
      </tr>
      <tr>
        <td>Períodos:</td>
        <td><%= @credit_request.periods %></td>
      </tr>
      <tr>
        <td>Status:</td>
        <td><%= @credit_request.status %></td>
      </tr>
      <tr>
        <td>Taxa mensal:</td>
        <td><%= @credit_request.monthly_fee %></td>
      </tr>

      <tr>
        <td>Valor das parcelas:</td>
        <td><%= @credit_request.monthly_value %></td>
      </tr>
    </table>
  </div>

  <div class="approve-buttons">
    <%= show_approve_button_for(@credit_request) %>
    <%= show_deny_button_for(@credit_request) %>
  </div>
  <h3>Pagamentos mensais:</h3>

  <div class="payment-list">
    <%= list_payments(@credit_request) %>
  </div>
</div>
