<div class="container">
  <h1>Meu Pefil</h1>
  <dl>
    <dt><%= t('company_profiles.name') %>: </dt>
    <dd><%= @company_profile.name %></dd>
    <dt><%= t('company_profiles.document') %>: </dt>
    <dd><%= @company_profile.document %></dd>
    <% @company_profile.addresses.each do |address| %>
        <dt><%= t('addresses.address') %>:</dt>
        <dd><%= address.address %></dd>
        <dt><%= t('addresses.zipcode') %>:</dt>
        <dd><%= address.zipcode %></dd>
        <dt><%= t('addresses.city') %>:</dt>
        <dd><%= address.city %></dd>
        <dt><%= t('addresses.state') %>:</dt>
        <dd><%= address.state %></dd>
        <dt><%= t('addresses.country') %>:</dt>
        <dd><%= address.country %></dd>
    <% end %>
    <% @company_profile.contacts.each do |contact| %>
        <dt><%= t('contacts.contact') %>:</dt>
        <dd><%= contact.contact %></dd>
        <dt><%= t('contacts.contact_type') %>:</dt>
        <dd><%= t(contact.contact_type) %></dd>
    <% end %>
  </dl>
</div>