<%= form_with(model: borrowing, url: @borrowing.new_record? ? borrower_borrowings_path : borrower_borrowings_path(@borrowing)) do |form| %>
  <% if borrowing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(borrowing.errors.count, "error") %> prohibited this borrowing from being saved:</h2>

      <ul>
      <% borrowing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>h
  <% end %>

  <div class="field">
    <%= form.label :installment_plan %>
    <%= form.number_field :installment_plan, {in: 1...120} %>
  </div>

  <div class="field">
    <%= form.label :interest_rate %>
    <%= form.text_field :interest_rate %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
