<%= form_with(model: borrowing, url: @borrowing.new_record? ? borrower_borrowings_path : borrower_borrowings_path(@borrowing)) do |form| %>
  <% if borrowing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(borrowing.errors.count, "error") %> prohibited this borrowing from being saved:</h2>

      <ul>
      <% borrowing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>h
  <% end %>

  <%= form.label :installment_plan do %>
    <span><%= I18n.t('activerecord.attributes.borrowing.installment_plan') %></span>
    <%= form.select :installment_plan, 1...120, {}, { class: "input-medium textfield" } %>
  <% end %>


  <%= form.label :interest_rate do %>
    <span><%= I18n.t('activerecord.attributes.borrowing.interest_rate') %></span>
    <%= form.text_field :interest_rate, { placeholder: I18n.t('activerecord.attributes.borrowing.interest_rate'), class: "input-medium textfield" } %>
  <% end %>

  <%= form.label :amount do %>
    <span><%= I18n.t('activerecord.attributes.borrowing.amount') %></span>
    <%= form.text_field :amount, { placeholder: I18n.t('activerecord.attributes.borrowing.amount'), class: "input-xlarge textfield" } %>
  <% end %>

  <div class="actions">
    <%= form.button 'Salvar', { type: :submit, class: 'button-save' } %>
  </div>
<% end %>
