<p id="notice"><%= notice %></p>

<h1>Simulação de Empréstimo</h1>
<h2><%= @borrower.company_name %></h2>
<table>
  <thead>
    <tr>
      <th>Installment plan</th>
      <th>Interest rate</th>
      <th>Status</th>
      <th>Amount</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrowings.each do |borrowing| %>
      <tr>
        <td><%= borrowing.installment_plan %></td>
        <td><%= borrowing.interest_rate %></td>
        <td><%= borrowing.status %></td>
        <td><%= borrowing.amount %></td>
        <td><%= borrowing.status %></td>
        <td><%= link_to 'Show', borrowing %></td>
        <td><%= link_to 'Edit', edit_borrowing_path(borrowing) %></td>
        <td><%= link_to 'Destroy', borrowing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrowing', new_borrower_borrowing_path %>
