<header>
  <div class="header-xxlarge-wrap ">
    <div><h1>Solicitações de Empréstimo</h1></div>
    <div><%= link_to 'Nova Solicitação', new_borrower_borrowing_path, class: 'button' %></div>
  </div>
</header>
<main>
<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Taxa de juros</th>
      <th>Status</th>
      <th>Valor Solicitado</th>
      <th>Valor da Parcela</th>
      <th>Parcelas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrowings.each do |borrowing| %>
      <tr>
        <td><%= borrowing.interest_rate %>%</td>
        <td><%= enum_i18n(Borrowing, :status, borrowing.status) %></td>
        <td><%= number_to_currency_br(borrowing.amount) %></td>
        <td><%= number_to_currency_br(borrowing.total) %></td>
        <td><%= borrowing.installment_plan %>x</td>
        <td><%= link_to 'Mostrar', borrowing %></td>
        <td><%= link_to 'Editar', edit_borrowing_path(borrowing) %></td>
        <td><%= link_to 'Deletar', borrowing, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</main>
