<header>
  <div class="header-xxlarge-wrap">
    <div class="left-corner">
      <h1>Dados da Solicitação</h1> 
    </div>
    <div class="right-corner">
      <ul>
        <li><%= link_to 'Voltar', borrower_borrowings_path(@borrowing.borrower) %></li>
        <li><%= link_to 'Atualizar', edit_borrowing_path(@borrowing) %> </li>
      </ul>
    </div>
  </div>
</header>
<main>
  <div class="info">
    <p>
      <strong>Solicitante:</strong>
      <%= @borrowing.borrower.company_name %>
</p>

<p>
  <strong>Juros:</strong>
  <%= @borrowing.interest_rate %>%
</p>

<p>
  <strong>Status:</strong>
  <%= enum_i18n(Borrowing, :status, @borrowing.status) %>
</p>

<p>
  <strong>Valor Solicitado:</strong>
  <%= number_to_currency_br(@borrowing.amount) %>
</p>

<p>
  <strong>Valor da Parcela:</strong>
  <%= number_to_currency_br(@borrowing.total) %>
</p>
<p>
  <strong>Total a pagar:</strong>
  <%= number_to_currency_br(@borrowing.total * @borrowing.installment_plan) %>
</p>
<p>
  <strong>Parcelas:</strong>
  <%= @borrowing.installment_plan %>x

<table>
  <thead>
    <tr>
      <th>N&uacute;mero</th>
      <th>Valor da Parcela</th>
      <th>Vencimento</th>
    </tr>
  </thead>

  <tbody>
    <% @borrowing.installments.each do |installment| %>
      <tr>
        <td>#<%= installment.number %></td>
        <td><%= number_to_currency_br(installment.amount) %></td>
        <td><%= installment.due_at.strftime("%d/%m/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>
</div>
</main>
