<p id="notice"><%= notice %></p>

<p>
  <strong>Number installments:</strong>
  <%= @borrowing.installment_plan %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @borrowing.interest_rate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @borrowing.status %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @borrowing.amount %>
</p>

<p>
  <strong>Total:</strong>
  <%= @borrowing.total %>
</p>

<p>
  <strong>Borrower:</strong>
  <%= @borrowing.borrower %>
</p>

<%= link_to 'Edit', edit_borrowing_path(@borrowing) %> |
<%= link_to 'Back', borrower_borrowings_path(@borrowing) %>
