
<%= simple_form_for(@phone_number) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :number, class: 'form-control', wrapper: false, input_html: { data: {inputmask:"'mask': '(99)9999-99999'" }} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript">
    Inputmask().mask(document.querySelectorAll("input"));
  </script>
<% end %>
