<div class='form'>
  <div class="little-form">
    <h2>Nova solicitação de crédito</h2>
    <%= form_with model: @request do |f| %>
    <div class="form-group">
      <%= f.label :amount, 'Valor:'%>
      <%= f.text_field :amount, {id: 'amount', onchange: "updateData()", class: 'form-control'}%>
    </div>

    <div class="form-group">
      <%= f.label :periods, 'Períodos:'%>
      <%= f.select :periods, options_for_select(available_periods),{}, { onchange: "updateData()", id: 'period', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :monthly_fee, 'Taxa mensal(%)'%>
      <%= f.text_field :monthly_fee, {readonly: true, id: 'monthly_fee', class: 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :monthly_value, 'Valor das parcelas'%>
      <%= f.text_field :monthly_value, { readonly: true, id: 'monthly_value', class: 'form-control' } %>
    </div>

    <%= f.hidden_field :company_id, value: @company.id %>

    <%= f.submit 'Solicitar', class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  async function updateData() {
    let selectedPeriod = $('#period').val();
    let currentAmount = $('#amount').val();

    let url = "/api/calculate_pmt?amount="+currentAmount+"&periods="+selectedPeriod;

    await $.ajax({
      url: url,
      type: "get",
      data: "",
      success: function(data) {
        updateFee(data.monthly_fee);
        updateMonthlyValue(data.monthly_value);
      },
      error: function(data) {
        alert('Ocorreu um erro ao atualizar os dados.');
      }
    })
  }

  function updateFee(fee) {
    $('#monthly_fee').val(fee);
  }

  function updateMonthlyValue(value) {
    $('#monthly_value').val(value);
  }
<% end %>
