<div class='form'>
  <div class="little-form">
    <h2>Novo endereço</h2>
    <%= form_with model: @address do |f| %>
      <div class="form-group">
        <%= f.label :street%>
        <%= f.text_field :street, class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :number%>
        <%= f.number_field :number, class: 'form-control'%>
      </div>

      <%= f.hidden_field :company_id, value: @company.id %>

      <%= f.submit 'Salvar', class: 'btn btn-primary'%>
    <% end %>
    </div>
</div>
