<%= form_with(model: credit_borrow, local: true, url: @credit_borrow.new_record? ? borrower_credit_borrows_path : borrower_credit_borrow._path(@credit_borrow)) do |form| %>
  <% if credit_borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_borrow.errors.count, "error") %> prohibited this credit_borrow from being saved:</h2>

      <ul>
      <% credit_borrow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
