<%= form_with(model: credit_borrow, local: true, url: @credit_borrow.new_record? ? borrower_credit_borrows_path : credit_borrow_path(@credit_borrow)) do |form| %>
  <% if credit_borrow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_borrow.errors.count, "error") %> prohibited this credit_borrow from being saved:</h2>

      <ul>
      <% credit_borrow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :amount do %>
    <span><%= I18n.t('activerecord.attributes.credit_borrow.amount') %></span>
    <%= form.text_field :amount, { placeholder: I18n.t('activerecord.attributes.credit_borrow.amount'), class: "input-xlarge textfield" } %>
  <% end %>

  <div class="actions">
    <%= form.button 'Salvar', { type: :submit, class: 'button-save' } %>
  </div>
<% end %>
