<p id="notice"><%= notice %></p>

<h1>Credit Borrows</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Status</th>
      <th>Borrower</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_borrows.each do |credit_borrow| %>
      <tr>
        <td><%= credit_borrow.amount %></td>
        <td><%= credit_borrow.status %></td>
        <td><%= credit_borrow.borrower %></td>
        <td><%= link_to 'Show', credit_borrow %></td>
        <td><%= link_to 'Edit', edit_credit_borrow_path(credit_borrow) %></td>
        <td><%= link_to 'Destroy', credit_borrow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit Borrow', new_credit_borrow_path %>
