<header>
  <div class="header-xxlarge-wrap">
    <div class="left-corner">
      <h1>Dados do Solicitante</h1> 
    </div>
    <div class="right-corner">
      <ul>
        <li><%= link_to 'Voltar', borrower_credit_borrows_path(@credit_borrow.borrower) %></li>
        <li><%= link_to 'Editar', edit_credit_borrow_path(@credit_borrow) %> </li>
      </ul>
    </div>
  </div>
</header>
<main>
<div class="info">
<p>
  <strong>Solicitante:</strong>
  <%= @credit_borrow.borrower.company_name %>
</p>
<p>
  <strong>Crédito Solicitado:</strong>
  <%= number_to_currency_br(@credit_borrow.amount) %>
</p>

<p>
  <strong>Status:</strong>
  <%= enum_i18n(CreditBorrow, :status, @credit_borrow.status) %>
</p>
</div>
</main>
