<h1>Enviar Solicitação de Crédito</h1>

<hr class="my-4">

<% if @proposal.errors.any? %>
  <p>Você deve corrigir os seguintes erros: </p>
  <ul>
    <% @proposal.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul><br><br>
<% end %>

<%= form_for @proposal do |form| %>
  <div class="col-md-6 p-0">
    <div class="form-group">
      <%= form.label :value %>
      <%= form.number_field :value, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :installments %>
      <%= form.number_field :installments, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :expiration %>
      <%= form.date_field :expiration, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.submit 'Enviar', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
