<div class="container">
  <h1>Solicitação de Crédito</h1>

  <hr class="my-4">

  <dl>
    <dt>Solicitante</dt>
    <dd><%= link_to @proposal.company_profile.name, company_profile_path(@proposal.company_profile) %>
    <dt><%= t('proposals.value' )%>:</dt>
    <dd><%= number_to_currency(@proposal.value, locale: :'pt-BR') %></dt>
    <dt><%= t('proposals.installments' )%>:</dt>
    <dd><%= @proposal.installments %></dt>
    <dt><%= t('proposals.expiration' )%>:</dt>
    <dd><%= I18n.localize(@proposal.expiration) %></dt>
  </dl>

  <p class="h3">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Parcela Nº</th>
        <th scope="col">Valor</th>
        <th scope="col">Data de Vencimento</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @proposal.monthly_installments.each do |installment| %>
        <tr>
          <td><%= installment.installment_index %></td>
          <td><%= number_to_currency(installment.value, locale: :'pt-BR') %></td>
          <td><%= I18n.localize(installment.expiration) %></td>
          <td><%= t(installment.status, scope: [:activerecord, :attributes, :proposal]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>