<p id="notice"><%= notice %></p>

<h1>Telephones</h1>

<table>
  <thead>
    <tr>
      <th>Area code</th>
      <th>Phone type</th>
      <th>Phone number</th>
      <th>Loan applicant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telephones.each do |telephone| %>
      <tr>
        <td><%= telephone.area_code %></td>
        <td><%= telephone.phone_type %></td>
        <td><%= telephone.phone_number %></td>
        <td><%= telephone.loan_applicant %></td>
        <td><%= link_to 'Show', telephone %></td>
        <td><%= link_to 'Edit', edit_telephone_path(telephone) %></td>
        <td><%= link_to 'Destroy', telephone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Telephone', new_telephone_path %>
