<p id="notice"><%= notice %></p>

<p>
  <strong>Area code:</strong>
  <%= @telephone.area_code %>
</p>

<p>
  <strong>Phone type:</strong>
  <%= @telephone.phone_type %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @telephone.phone_number %>
</p>

<p>
  <strong>Loan applicant:</strong>
  <%= @telephone.loan_applicant %>
</p>

<%= link_to 'Edit', edit_telephone_path(@telephone) %> |
<%= link_to 'Back', telephones_path %>
