<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Solicitantes", borrowers_path %></li>
          <li><a href="#">Aprovações</a></li>
          <li><a href="#">Relatórios</a></li>
        </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
