<!DOCTYPE html>
<html>
  <head>
    <title>DevChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Solicitação de Crédito', new_proposal_path %>
    <% if company_signed_in? %>
      <%= link_to 'Perfil', company_profile_path(current_company) %>
      <%= link_to 'Sair', destroy_company_session_path %>
    <% end %>
    <%= link_to 'Login', new_company_session_path %>
    <%= alert %>
    <%= notice %>
    <%= yield %>
  </body>
</html>
