<!DOCTYPE html>
<html>
  <head>
    <title>DevChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="index-title">
      <h1>NEXOOS - Empréstimo para o seu negócio</h1>
    </div>

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <%= link_to 'Início', root_path, class: 'nav-link'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Cadastrar empresa', root_path, class: 'nav-link'%>
      </li>
    </ul>

    <div class="container main-content">
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "alert alert-primary" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
