<!DOCTYPE html>
<html>
  <head>
    <title>DevChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex justify-content-between p-3">
      <%= link_to 'Home', root_path, class: 'btn btn-light' %>
      <div>
        <%= link_to 'Solicitação de Crédito', new_proposal_path, class: 'btn btn-light' %>
        <% if company_signed_in? %>
          <%= link_to 'Perfil', company_profile_path(current_company), class: 'btn btn-light' %>
          <%= link_to 'Sair', destroy_company_session_path, method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'Login', new_company_session_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <% flash.each do |type, msg| %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
