<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title><%= t(:company_slogan) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />


    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'script' %>
  </head>

  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-5 mx-auto">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
